.navbar {

    padding: 1% 10%;

    background-color: rgba(0, 0, 0, 0.3);
}

.navbar-nav {
    font-size: 1.5rem;
}

.navbar-icon {

    color: white;
}

.navbar-brand img {

    width: 100px;
    height: auto;
}

.nav-link {

    color: blue;
    margin: 10px;
    border-radius: 5px;
    transition: .4s;
}

.nav-link:hover {

    background: #2980b9;
    color: blue;
    transform: scale(1.1);
}

.orange-color {
    color: orange;
}

.gray-color {
    color: rgb(100, 97, 97);
    font-weight: 1000;
}

footer {
    text-align: center;
    color: white;
    background-color: rgb(29, 29, 29);
    padding-top: 3%;
    padding-bottom: 7%;
    margin: 0%;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}